- form = local_assigns.fetch(:form)

.form-group
  %b= s_('ProjectSettings|Merge checks')
  %p.text-secondary= s_('ProjectSettings|These checks must pass before merge requests can be merged.')
  .form-check.mb-2.builds-feature
    = form.check_box :only_allow_merge_if_pipeline_succeeds, class: 'form-check-input'
    = form.label :only_allow_merge_if_pipeline_succeeds, class: 'form-check-label' do
      = s_('ProjectSettings|Pipelines must succeed')
      .text-secondary
        - configuring_pipelines_for_merge_requests_help_link_url = help_page_path('ci/merge_request_pipelines/index.md', anchor: 'configuring-pipelines-for-merge-requests')
        - configuring_pipelines_for_merge_requests_help_link_start = '<a href="%{url}" target="_blank" rel="noopener noreferrer">'.html_safe % { url: configuring_pipelines_for_merge_requests_help_link_url }
        = s_('ProjectSettings|To enable this feature, configure pipelines. %{link_start}How to configure pipelines for merge requests?%{link_end}').html_safe % { link_start: configuring_pipelines_for_merge_requests_help_link_start, link_end: '</a>'.html_safe }
  .form-check.mb-2
    .gl-pl-6
      = form.check_box :allow_merge_on_skipped_pipeline, class: 'form-check-input'
      = form.label :allow_merge_on_skipped_pipeline, class: 'form-check-label' do
        = s_('ProjectSettings|Skipped pipelines are considered successful')
        .text-secondary
          = s_('ProjectSettings|Introduces the risk of merging changes that do not pass the pipeline.')
  .form-check.mb-2
    = form.check_box :only_allow_merge_if_all_discussions_are_resolved, class: 'form-check-input', data: { qa_selector: 'allow_merge_if_all_discussions_are_resolved_checkbox' }
    = form.label :only_allow_merge_if_all_discussions_are_resolved, class: 'form-check-label' do
      = s_('ProjectSettings|All discussions must be resolved')
